// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1000px;
$on-large:         1200px;
$custom-footer:    "Hello World! Welcome to my personal website. Here you'll find projects I'm working on and occasional blog posts. If you'd like to hire me, check out my resume."
"
